*{
    font-family: 'Poppins', sans-serif;
}
.active{
    /* background-color: rgb(249, 180, 45);; */
    background-color:#172554;
    font-weight: bold;
}
.registration{
    background:purple;
    border-radius: 0.4rem;
}

nav ul li a:not(.active):hover:nth-child(5){
    background-color:purple;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color:rgb(249, 180, 45);
    /* background-color: #0f172a; */
    /* background-color:rgb(243, 240, 248);; */
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    margin-right: 5rem;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color:#172554 ;
}


nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.19rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

.item-container{
    margin-right: 5rem;
}
.nav-item{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}