body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Montserrat Alternates', sans-serif; */
}

html {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homePage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;

}

.homeTitle {
  color: rgb(4, 59, 92);
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 7rem;
  font-family: 'Montserrat', sans-serif;
}

.firstPart {
  /* background-color:rgb(246, 239, 233); */
    display: flex;
  flex-direction: row-reverse;
}

.phraseHome:first-of-type {
  flex-wrap: wrap;
  word-wrap: break-word;
  margin-top: 3rem;
  color: black;
  font-family: 'Montserrat Alternates', sans-serif;
  text-shadow: 0.1rem 0.1rem 0.1rem #cdd1e4;
}

.phraseHome:nth-of-type(2) {
  font-family: 'Montserrat Alternates', sans-serif;
}

.yekla-name {
  font-size: 2rem;
  /* margin-top: 20rem; */
}

.secondPart {
  background-color:#ecf0f1;
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 3rem;
}

.cardContainer{
  display: flex;
  justify-content: space-around;
  gap: 2rem;

}

.cardTitle{
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins';
  color:#043b5c;
  letter-spacing: 0.3rem;
  text-shadow: 0.2rem 0.2rem 0.1rem #6c7a89;
  /* box-shadow:0.1rem 0.1rem 0.05rem #6c7a89; */
}

.thirdPart, .fourthPart{
  background-color:#f2f1ef;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
}

.imageTraining{
  box-shadow: 0.1rem 0.1rem 0.5rem #95a5a6;
  border-radius: 0.8rem;
  transition: ease 0.5s;
  transform: scale(0.8);
}

.imageTraining:hover{
  transform: scale(0.9);
}

.fourthPart{
  display: flex;
  justify-content: space-between;
}